<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @inter_table.First_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @inter_table.Middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @inter_table.Last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @inter_table.Address %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @inter_table.Phone_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inter_table.Email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @inter_table.DOB %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @inter_table.Institution %>
</p>

<p>
  <strong>Major:</strong>
  <%= @inter_table.Major %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @inter_table.Resume %>
</p>

<%= link_to 'Edit', edit_inter_table_path(@inter_table) %> |
<%= link_to 'Back', inter_tables_path %>
